service:
  port: 80
  targetPort: 3001
  
imageRepository: "public.ecr.aws/q1s6f7t8/atomicfi-micro-app:atomicfi-micro-app-779f5a3"
imageTag: "1.0"
imagepullPolicy: Always
resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 500M

readinessProbe:
  initialDelaySeconds: 120

livenessProbe:
  initialDelaySeconds: 120

configMap:
